
/* .menu{
    background: rgb(41, 40, 40);
}

.top-bar{
    background-color: rgb(41, 40, 40);
}

.listMenu{
    background-color: rgb(41, 40, 40);
} */

.card{
    width: 200px;
}

.callout{
background: linear-gradient(to top right, #bdc3c7 0%, #2c3e50 100%);;
padding: 70px;
color: white;
}

.bestSellerImg{
    height: 250px;
    
}

.bestSellerBookTitle{
    font-weight: bold;
}



