
.menu{
    background: rgb(41, 40, 40);
}

.top-bar, .top-bar ul{
    background-color: rgb(41, 40, 40);
}

.listMenu{
    background-color: rgb(41, 40, 40);
    padding: 5px;
}

ul{
    background-color: rgb(41, 40, 40); 
}

a{
    color: white;
}

.textBackground{
    background: rgba(0, 0, 0, 0.418);
    border-radius: 6px;
    padding: 20px;
}

.card{
    width: 200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
}
.card-section
{
    flex-direction: column;
    display: flex;
}
.btnMoreInfo
{
    margin-top: auto;
}
.bestSellerSynopsis
{
    font-size: 0.75rem;
}

.callout{
    background-image: url("../images/pexels-tamas-maszaros-12064.jpg");
/* background: linear-gradient(to top right, #bdc3c7 0%, #2c3e50 100%); */
padding: 70px;
color: white;
}

.bestSellerImg{
    height: 250px;
    
}

.bestSellerBookTitle{
    font-weight: bold;
}

.btnMoreInfo{
    margin-top: auto;
}

.searchResultsImage-{
    height: 140px;
}

.button-like {
    border: 2px solid #8a8a8a;
    background-color: transparent;
    text-decoration: none;
    padding: 1rem;
    position: relative;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    border-radius: 3rem;
    color: #8a8a8a;
    transition: all ease 0.4s;
  }
  
  .button-like span {
    margin-left: 0.5rem;
  }
  
  .button-like .fa,
  .button-like span {
    transition: all ease 0.4s;
  }
  
  .button-like:focus {
    background-color: transparent;
  }
  
  .button-like:focus .fa,
  .button-like:focus span {
    color: #8a8a8a;
  }
  
  .button-like:hover {
    border-color: #cc4b37;
    background-color: transparent;
  }
  
  .button-like:hover .fa,
  .button-like:hover span {
    color: #cc4b37;
  }
  
  .liked {
    background-color: #cc4b37;
    border-color: #cc4b37;
  }
  
  .liked .fa,
  .liked span {
    color: #fefefe;
  }
  
  .liked:focus {
    background-color: #cc4b37;
  }
  
  .liked:focus .fa,
  .liked:focus span {
    color: #fefefe;
  }
  
  .liked:hover {
    background-color: #cc4b37;
    border-color: #cc4b37;
  }
  
  .liked:hover .fa,
  .liked:hover span {
    color: #fefefe;
  }
  
.likeButton
{
    display: flex;
    flex-direction: column;
    
    margin-top: auto;
    margin-bottom: auto;
    
}  
.likeButton .button-like
{
    
    margin-left: auto;
}


a, #moreInfo0{
  margin-top: auto;
  
}

.logo{
  font-family: cursive;
}

h5{
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu span {
  color: white;
  line-height: 1;
  text-decoration: none;
  display: block;
  padding: .7rem 1rem;
}


